#wysihtml5-editor-toolbar{"style" => "display: none;"}
  %a{"data-wysihtml5-command" => "bold", title: "Make text bold (CTRL + B)", class: "command btn"}
    B
  %a{"data-wysihtml5-command" => "italic", title: "Make text italic (CTRL + I)", class: "command btn"}
    I
  %a{"data-wysihtml5-command" => "insertUnorderedList", title: "Insert an ordered list", class: "command btn"}
    OL
  %a{"data-wysihtml5-command" => "insertOrderedList", title: "Insert an ordered list", class: "command btn"}
    LI
  %a{"data-wysihtml5-command" => "createLink", title: "Insert a link", class: "command btn"}
    link
  %a{"data-wysihtml5-command" => "insertImage", title: "Insert an image", class: "command btn"}
    Img
  %a{"data-wysihtml5-command" => "formatBlock", title: "Insert headline 1", class: "command btn", "data-wysihtml5-command-value" => "h1"}
    H1
  %a{"data-wysihtml5-command" => "formatBlock", title: "Insert headline 2", class: "command btn", "data-wysihtml5-command-value" => "h2"}
    H2
  %a{"data-wysihtml5-command" => "formatBlock", title: "Insert code", class: "command btn", "data-wysihtml5-command-value" => "pre"}
    Code
  %a{"data-wysihtml5-action" => "change_view", title: "Insert code", class: "action btn"}
    Show HTML

