@import "bootstrap";
@import 'bootstrap-wysihtml5';

body.wysiwyg_docs {
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  min-height: 100%;
  .container {
    width: 960px;
    height: 100%;
    padding-top: 10px;
  }
  #main {
    height: 100%;
  }
  textarea, input {
    height: 100%
  }
  .wysihtml5 {
    -moz-box-sizing: border-box;
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 100%;
    padding: 10px;
    resize: none;
    white-space: pre;
    width: 100%;
    word-wrap: normal;
  }
  pre {
    background-color: #d3d3d3;
  }

}



